h2{
    font-family: Jacques François;
}

a{
    font-family: Jacques François;
}

p{
    font-family: Poppins;
    font-size: 25px;
    color: #580092;
    font-weight: bold;
    margin: 0;
    line-height: 50px;
}

